name: Build and Deploy
on:
  push:
permissions:
  id-token: "write"
  checks: write
  contents: write

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install Node.js dependencies
        run: npm ci
      - name: Run linters
        uses: wearerequired/lint-action@548d8a7c4b04d3553d32ed5b6e91eb171e10e7bb # v2
        with:
          eslint: true
          prettier: true
          continue_on_error: false
  deploy:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Deploy
    needs: lint
    runs-on: ubuntu-latest
    environment: production
    concurrency: production
    permissions:
      id-token: "write"
    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - id: "auth"
        name: "Authenticate to Google Cloud"
        uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # v3
        with:
          workload_identity_provider: "projects/417555860451/locations/global/workloadIdentityPools/github/providers/github"
          service_account: "github-action-448480065@xkcd-thing.iam.gserviceaccount.com "
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install Node.js dependencies
        run: npm ci
      - name: Deploy to Firebase
        run: |
          npm install -g firebase-tools
          firebase deploy
